<header class="headerdiv">
    <img class="header" id="logo" src="/yosha (1).png" alt="">
    <a class="header" href="/projects"><button class="btn btn-outline-warning header">HOME</button></a>
    <a class="header" href="/projects/new"><button class="btn btn-outline-warning header">ADD PROJECT</button></a>
    <a class="header" href=""><button class="btn btn-outline-warning header" id="openModal header">CONTACT</button></a>
    <a class="header" href=""><button class="btn btn-outline-warning header" id="openModal header">PROJECTS</button></a>
</header>