<header class="headerdiv">
    <img class="header" id="logo" src="/yoshanew.png" alt="">
    <div class="NavDiv"> <a class="header" href="/projects"><button class="headerBtn btn  header">HOME</button></a>
        <a class="header" href="/projects/new"><button class="headerBtn btn  header">CREATE</button></a>
        <a class="header" href="contact.html"><button class="headerBtn btn  header"
                id="openModal header">CONTACT</button></a>
    </div>
</header>