<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Create a project</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <h1>NEW PROJECT</h1>
    <img src="<%=projects.image1%>" alt="">
</body>
</html>